.execute-btn{
    width:100%;
    margin-top:30px;
    padding:18px;
    border:none;
    border-radius:16px;
    background:#275d46;
    color:white;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.execute-btn:hover{
    background:#022b22;
}

.execute-btn:active{
    transform:scale(.98);
}